@model IEnumerable<HalloDoc.DataAccessLayer.DataModels.ViewModels.RequestandRequestClient>
<div class="admin-table m-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Requestor</th>
                <th scope="col">Requested Date</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Notes</th>
                <th scope="col">Chat With</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {

                foreach (var item in Model)
                {
                    <tr id="BackgroundColor"  value="@item.RequestTypeId">
                        <td>
                            @Html.DisplayFor(modelItem => item.patientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.patientDOB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.requestorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.requestedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.patientContact)
                            @Html.DisplayFor(modelItem => item.requestorContact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.patientAddress)
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            <a href="" role="button">Provider</a>
                        </td>
                       
                        <td><a href="" role="button">Actions</a></td>
                      
                    </tr>
                 
                }
            }
       

        </tbody>
    </table>
    </div>
